@font-face {
  font-family: "iconfont"; /* Project id 3443741 */
  src: url('iconfont.woff2?t=1654066515059') format('woff2'),
       url('iconfont.woff?t=1654066515059') format('woff'),
       url('iconfont.ttf?t=1654066515059') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 48px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e62a";
}

.icon-shezhi:before {
  content: "\e601";
}

.icon-erweima:before {
  content: "\e61a";
}

.icon-xiaoxi:before {
  content: "\e622";
}

