.adm-tab-bar-item {
  height: 88px;
  padding-top: 10px;
  justify-content: start;
}
.adm-tab-bar-item-title{
  color:#c0c4cc;
  margin-top: 16px;
}
.adm-tab-bar-item-icon{
  height: auto;
}
.adm-tab-bar-item.adm-tab-bar-item-active {
  .adm-tab-bar-item-title {
    color:#fa436a
  }
}


